footer {
  background: #0096c7;
  width: 100%;
  
}

.footer-list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-bottom: 20px;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}



@media screen and (max-width: 835px) {
  .footer-list{
   gap: 10px;
  }

  
}

@media screen and (max-width: 435px) {
  .footer-list li a {
   font-size: 14px;
  }
}
