@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap');

html {
  overflow-x: hidden;
}

body {
  font-family: 'League Spartan';
  font-size: 16px;
  width: 100%;
  position: relative;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
}

header{
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    background: #ffffff;
}

main{
  padding-top: 115px;
}

button {
  border: none;
}

.menu-close,
.menu-open {
  display: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

.navbar {
  padding: 20px 0;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo-wrapper {
  width: 120px;
}

.logo img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.nav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 20px;

  overflow-x: hidden;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  display: block;
  color: #242424;
  transition: 0.5s;
}

.nav-link:hover {
  color: #24242476;
}

.nav-active {
  position: relative;
  display: block;
}

/* .nav-active::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color:  red;
} */

.nav-active {
  background-color: #3294ff;
  padding: 5px 10px;
  color: hsl(100, 100%, 100%);
}

.phone-number {
  background-color: #242424;
  color: #3294ff;
  font-weight: 600;

  padding: 15px 20px;
}

@media screen and (max-width: 835px) {
  body {
    overflow-x: hidden;
  }

  
  .menu-close,
  .menu-open {
    display: block;
    font-size: 30px;
    background: transparent;
  }

  .menu-close {
    border: 1px solid hsl(100, 100%, 100%);
    padding: 0 10px;
  }

  .container {
    padding: 0 50px;
  }

  

  .navbar .container {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-list {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    align-items: flex-end;
    width: 50%;
    background-color: #3295ff67;
    height: 100vh;
    padding: 20px 30px;
    transform: translateX(100%);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 10000;
  }

  .nav-active::after {
    background: hsl(100, 100%, 0%);
  }

  .nav-open {
    transform: translate(0);
    overflow-x: hidden;
  }

  .nav-link {
    color: hsl(100, 100%, 100%);
  }

  .logo-wrapper {
    width: 80px;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
  }

}

@media screen and (max-width: 435px) {
  .container {
    padding: 0 30px;
  }


  .logo img {
    object-fit: contain;
  }
}
