.premium {
  min-height: 100vh;
  height: 100%;
  background: url(../images/premium.png) no-repeat top;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 100px;
}

.premium-header {
  text-align: center;
  margin-bottom: 40px;
}

.premium-header p {
  margin-bottom: 40px;
  font-size: 20px;
  color: hsl(100, 100%, 100%);
}

.premium-header h1 {
  position: relative;
  display: inline-block;
  font-size: 45px;
  color: hsl(100, 100%, 100%);
}

.premium-header h1::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #242424;
  height: 10px;
  width: 25%;
  left:50%;
  transform: translateX(-50%);
}

.premium-wrapper{
 display: flex;
 padding: 150px 0;
}

.premium-card{
 flex: 1;
 background: #e0e0e0;
 padding: 50px 30px;
 display: flex;
 flex-direction: column;
 justify-content: center;
}



.premium-card-header {
 display: flex;
 flex-direction: column;
 gap: 10px ;
 text-align: center;
 margin-bottom: 20px;
}

.premium-card-header h4 {
 letter-spacing: 2px;
 font-size: 20px;
 font-weight: 400;
}

.premium-card-header h3{
 color: red;
}

.premium-card-header p strong{
 line-height: 1.3;
}

.premium-card ul {
 padding: 0 50px ;
}

.premium-card ul li{
 line-height: 1.3;
}
.premium-card:nth-child(1){
 padding-right: 50px;
}

.premium-card:nth-child(2) {
 background-color: #f2f2f2;
 transform: scale(1.2);
 box-shadow: 0 1px 4px rgba(0,0,0,.6);
}

.premium-card:nth-child(3){
 padding-left: 50px;
}


@media screen and (max-width: 835px) {
  .premium-wrapper{
   flex-direction: column;
  }

  .premium-card:nth-child(2){
   transform: scale(1.1);
  }
}